nav {
  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  a {
    text-decoration: none;
    color: #000;
  }
}

.nav--white {
  a {
    color: #fff;
  }
}

.nav--vertical {
  ul {
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
  }
}
