.form-input {
  padding: 1rem;
  position: relative;
}

.form-input input {
  border: 1px solid #b7b7b7;
  border-radius: 0.3rem;
  font-size: 2rem;
  padding: 0.7rem;
  width: 100%;
  color: #b7b7b7;
}

.form-input span {
  position: absolute;
  top: 0.4rem;
  left: 1.7rem;
  background-color: white;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: #b7b7b7;
}
