.user {
  display: flex;
  align-items: center;
}

.user-info {
  text-align: right;
}

.user-name {
  font-size: 14px;
  color: #000;
  margin-bottom: 0.4rem;
}

.user-email {
  font-size: 12px;
  color: #8d8c8c;
}

.user-avatar {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  margin: 0 1rem;
}

@media (max-width: 770px) {
  .sign-out {
    display: none;
  }

  .user {
    align-items: flex-start;
    flex-direction: column-reverse;
  }

  .user-info {
    text-align: left;
  }

  .user-avatar {
    width: 6.5rem;
    height: 6.5rem;
  }

  .user-name {
    font-size: 18px;
  }
}
