@import-normalize;
@import url('https://fonts.googleapis.com/css?family=Overpass:600|Source+Sans+Pro:400,700&display=swap');

$colors: (
  primary: #ef6c00,
  secondary: #285393,
);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

/* Typography */

h1 {
  font-family: 'Overpass', sans-serif;
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
}

h2 {
  font-family: 'Overpass', sans-serif;
  font-size: 42px;
  line-height: 51px;
  font-weight: 600;
}

h3 {
  font-family: 'Overpass', sans-serif;
  font-size: 26px;
  line-height: 31px;
  font-weight: 600;
}

h4 {
  font-family: 'Overpass', sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
}

h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.App {
  text-align: center;
  width: 1024px;
  margin: 0 auto;
}

/* button */
.btn {
  padding: 5px 40px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-family: Source Sans Pro;
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
}

.btn-primary {
  color: #fff;
  background-color: map-get($colors, primary);

  &:hover {
    background-color: #f2811e;
  }
}

.btn-secondary {
  color: map-get($colors, primary);
  background-color: #fff;
  border: 1px solid map-get($colors, primary);

  &:hover {
    background-color: #fde6d2;
    color: #f2811e;
  }
}

.btn-disabled {
  background-color: #d7d7d7;
  color: #8d8c8c;
}

/* header */
#header {
  display: flex;
  align-items: center;
  padding-left: 47px;
  padding-right: 47px;
  height: 64px;
}

.header__logo {
  width: 132px;
  height: 24px;
}

.header__nav {
  width: 484px;
  margin-left: 67px;

  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
  }
}

.header__user-info {
  text-align: right;
}

.header__user {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.header__user-name {
  font-size: 14px;
  color: #000;
  margin-bottom: 4px;
}

.header__user-email {
  font-size: 12px;
  color: #8d8c8c;
}

.header__user-avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin: 0 10px;
}

/* banner  */
#banner {
  height: 730px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: url(./assets/imgs/bg-1.jpg);
  background-size: 130%;
  color: #fff;
  padding-left: 50px;
  text-align: left;
}

.banner__title {
  line-height: 65px;
  margin-bottom: 15px;
  padding-top: 90px;
}

.banner__text {
  padding-right: 50px;
  font-size: 20px;
  line-height: 26px;
}

.banner__button {
  margin-top: 28px;

  a {
    padding: 10px 115px;
  }
}
