@import-normalize;
@import url('https://fonts.googleapis.com/css?family=Overpass:600|Source+Sans+Pro:400,700&display=swap');

$colors: (
  primary: #ef6c00,
  secondary: #285393,
);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Source Sans Pro', sans-serif;
}

/* button */
.btn {
  padding: 0.5rem 4rem;
  border-radius: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  font-family: Source Sans Pro;
  font-weight: 700;
  font-size: 2rem;
  border: none;
  background-color: unset;
}

.btn-primary {
  color: #fff;
  background-color: map-get($colors, primary);

  &:hover {
    background-color: #f2811e;
  }
}

.btn-secondary {
  color: map-get($colors, primary);
  background-color: #fff;
  border: 1px solid map-get($colors, primary);

  &:hover {
    background-color: #fde6d2;
    color: #f2811e;
  }
}

.btn:disabled {
  background-color: #d7d7d7;
  color: #8d8c8c;
  cursor: not-allowed;
}

/* ----------- MOBILE -----------*/
/* from 320px to 699px */
/* typography */
h1,
h2,
h3,
h4 {
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 30px;
  line-height: 36px;
}

h2 {
  font-size: 26px;
  line-height: 31px;
}

h3 {
  font-size: 22px;
  line-height: 26px;
}

h4 {
  font-size: 22px;
  line-height: 26px;
}

h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

header,
.footer__top,
.footer__bottom,
section {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* header */
header {
  display: flex;
  align-items: center;
  height: 6.4rem;
  justify-content: space-between;

  .header__logo {
    width: 13.2rem;
    height: 2.4rem;
  }
}

@import url(./index-tablet.scss);
@import url(./index-desktop.scss);

/* navigation */
@media (max-width: 1023px) {
  header nav,
  header .user {
    display: none;
  }

  header {
    justify-content: space-between;
  }
}
