@media (min-width: 1024px) and (max-width: 1077px) {
  /* typography */
  h1 {
    font-size: 50px;
    line-height: 60px;
  }

  p {
    font-size: 18px;
    line-height: 26px;
  }
 body {
    //  background-color: yellow;
 }
  .App {
    // background-color: blue;
  }



}
