@import-normalize;
@import url('https://fonts.googleapis.com/css?family=Overpass:600|Source+Sans+Pro:400,700&display=swap');

$colors: (
  primary: #ef6c00,
  secondary: #285393,
);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Typography */

h1 {
  font-family: 'Overpass', sans-serif;
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
}

h2 {
  font-family: 'Overpass', sans-serif;
  font-size: 42px;
  line-height: 51px;
  font-weight: 600;
}

h3 {
  font-family: 'Overpass', sans-serif;
  font-size: 26px;
  line-height: 31px;
  font-weight: 600;
}

h4 {
  font-family: 'Overpass', sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
}

h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

p {
  font-size: 16px;
  line-height: 22px;
}

/* form */
/** input **/
.form-input {
  padding: 1rem;
  position: relative;
}

.form-input input {
  border: 1px solid #b7b7b7;
  border-radius: 0.3rem;
  font-size: 2rem;
  padding: 0.7rem;
  width: 100%;
  color: #b7b7b7;
}

.form-input span {
  position: absolute;
  top: 0.4rem;
  left: 1.7rem;
  background-color: white;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: #b7b7b7;
}

.App {
  text-align: center;
  max-width: 1024px;
  margin: 0 auto;
}

/* button */
.btn {
  padding: 0.5rem 4rem;
  border-radius: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  font-family: Source Sans Pro;
  font-weight: 700;
  font-size: 2rem;
  line-height: 60px;
}

.btn-primary {
  color: #fff;
  background-color: map-get($colors, primary);

  &:hover {
    background-color: #f2811e;
  }
}

.btn-secondary {
  color: map-get($colors, primary);
  background-color: #fff;
  border: 1px solid map-get($colors, primary);

  &:hover {
    background-color: #fde6d2;
    color: #f2811e;
  }
}

.btn-disabled {
  background-color: #d7d7d7;
  color: #8d8c8c;
}

header,
.footer__top,
.footer__bottom,
section {
  padding-left: 5rem;
  padding-right: 5rem;
}

/* header */
header {
  display: flex;
  align-items: center;
  height: 6.4rem;

  .header__logo {
    width: 13.2rem;
    height: 2.4rem;
  }

  nav {
    width: 48.4rem;
    margin-left: 6.7rem;
  }

  .user {
    margin-left: 4rem;
  }

  .nav-icon {
    display: none;
  }
}

/* banner  */
#banner {
  height: 73rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: url(./assets/imgs/bg-1.jpg);
  background-size: 130%;
  color: #fff;
  text-align: left;
}

.banner__title {
  line-height: 6.5rem;
  margin-bottom: 1.5rem;
  padding-top: 9rem;
}

.banner__text {
  padding-right: 5rem;
  font-size: 2rem;
  line-height: 26px;
}

.banner__button {
  margin-top: 2.8rem;

  a {
    padding: 1rem 11.5rem;
  }
}

/** about **/
#about {
  padding-top: 13.3rem;
  padding-bottom: 6.5rem;
}

.about-wrapper {
  padding-top: 2.3rem;
  display: flex;
}

.about-right {
  padding-left: 5rem;
  padding-top: 2rem;
  text-align: left;

  h3 {
    margin: 0.6rem 0;
  }

  p {
    margin: 1.6rem 0;
  }

  a {
    font-size: 22px;
    color: map-get($colors, primary);
    font-weight: 700;
    text-decoration: none;
  }
}

/* relationships */
#relationships {
  padding-top: 5.6rem;
  padding-bottom: 14.5rem;

  h2 {
    padding: 0 19rem;
  }
}

.relationships__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: left;
  padding-top: 4.6rem;
}

.relationships__item {
  img {
    padding-bottom: 2.3rem;
  }

  h3 {
    margin-bottom: 0.7rem;
  }

  &:nth-child(1) {
    p {
      padding-right: 2rem;
    }
  }

  &:nth-child(2) {
    p {
      padding-right: 9.5rem;
    }
  }

  &:nth-child(3) {
    p {
      padding-right: 3rem;
    }
  }
}

/* requirements */
#requirements {
  background-image: url(./assets/imgs/bg-2.jpg);
  background-size: cover;
  color: #fff;
  padding-top: 13.6rem;
  padding-bottom: 11rem;

  h2 {
    margin-bottom: 4.4rem;
  }
}

.requirements__wrapper {
  display: flex;
}

.requirements__text {
  text-align: left;
  padding-right: 4.7rem;
  width: 50%;

  p {
    margin-bottom: 2.2rem;
  }
}

.requirements__image {
  background-image: url(./assets/imgs/man-laptop-v1.svg);
  width: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

/* users */
#users {
  padding-top: 14rem;
  padding-bottom: 7rem;

  h5 {
    margin-top: 1rem;
  }
}

.users-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3rem;
  row-gap: 9.9rem;
  padding-top: 4.8rem;
  padding-bottom: 2rem;
}

.users__card {
  display: flex;

  img {
    border-radius: 50%;
    width: 7.2rem;
    height: 7.2rem;
  }
}

.user__info {
  text-align: left;
  padding-left: 1rem;
  padding-top: 3.4rem;
  width: 20rem;

  p {
    color: #646363;
  }
}

#sign-up {
  margin-bottom: 7rem;

  h2 {
    margin-bottom: 1.7rem;
  }
}

.form-grid {
  padding-top: 5rem;
  padding-bottom: 5.3rem;
}

.form__row {
  display: grid;

  &:nth-child(1) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &:nth-child(2) {
    grid-template-columns: 1fr 1fr;
  }
}

footer {
  background-color: #2d4392;
  color: #fff;

  .logo {
    display: inline-block;
    width: 13.4rem;
    height: 2.4rem;
    background: #fff;

    mask: url(./assets/logo/logo.svg);
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
  }

  nav {
    width: 48.4rem;
    margin-left: 6.7rem;
  }
}

.footer__top {
  display: flex;
  height: 8.5rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #5f5fc4;
}

.footer__bottom {
  display: grid;
  grid-template-areas:
    'email links'
    'phones links'
    'copyright socials';
  grid-template-columns: 36rem 3fr;
  grid-template-rows: 2.7rem 2fr 6rem;

  padding-top: 2.3rem;
  padding-bottom: 1rem;
}

.footer__email,
.footer__phones,
.footer__copyright {
  text-align: left;
}

.footer__email-icon,
.footer__phones-icon {
  margin-right: 1rem;
}

.footer__email {
  grid-area: email;
  display: flex;
  font-size: 20px;

  .footer__email-icon {
    width: 3rem;
    display: grid;

    img {
      align-self: center;
      justify-self: center;
    }
  }
}

.footer__links {
  grid-area: links;
  display: flex;
  justify-content: space-between;
  text-align: right;

  ul {
    list-style-type: none;
  }

  li {
    padding-bottom: 10px;

    &:nth-last-child(1) {
      padding-bottom: 0;
    }
  }
}

.footer__phones {
  grid-area: phones;
  font-size: 20px;

  .footer__phones-item {
    display: flex;
    align-items: center;

    &:nth-child(1) {
      padding-bottom: 1.5rem;
      padding-top: 1rem;
    }

    .footer__phones-icon {
      width: 3rem;
      display: grid;

      img {
        align-self: center;
        justify-self: center;
      }
    }
  }
}

.footer__copyright {
  grid-area: copyright;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.footer__socials {
  grid-area: socials;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  img {
    margin-left: 1rem;
    margin-left: 2.6rem;
  }
}

@media (max-width: 770px) {
  /* typography */
  h1 {
    font-family: 'Overpass', sans-serif;
    font-size: 42px;
    line-height: 51px;
    font-weight: 600;
  }

  .App {
    max-width: 770px;
  }

  header nav,
  header .user {
    display: none;
  }

  header,
  .footer__top,
  .footer__bottom,
  section {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  header {
    justify-content: space-between;

    .nav-icon {
      display: block;
    }
  }

  #banner {
    grid-template-columns: 68% 1fr;
  }

  #relationships {
    h2 {
      padding: 0 8rem;
    }
  }

  .relationships__items {
    grid-template-columns: 1fr;
  }

  .relationships__item {
    display: flex;

    img {
      padding-bottom: 4.3rem;
      padding-right: 3rem;
      padding-left: 3rem;
    }
  }

  #requirements {
    h2 {
      padding-left: 11.5rem;
      padding-right: 11.5rem;
    }
    .requirements__text {
      padding-right: 1.7rem;
      width: 52%;
    }

    .requirements__image {
      background-image: url(./assets/imgs/man-laptop-v2.svg);
    }
  }

  #users {
    .users-grid {
      row-gap: 3.5rem;
    }

    .users__card {
      flex-direction: column;

      img {
        margin: 0 auto;
      }
    }

    .user__info {
      text-align: center;
      padding-left: 0;
      padding-top: 1.5rem;
    }
  }

  footer {
    .footer__email .footer__email-icon,
    .footer__phones .footer__phones-item .footer__phones-icon {
      display: none;
    }
  }
}

@media (min-width: 1024px) {
  .App {
    width: 100%;
    max-width: 2560px;
  }

  section,
  header,
  footer {
    width: 100%;
    max-width: unset;
    padding-left: calc((100vw - 1024px) / 2);
    padding-right: calc((100vw - 1024px) / 2);
  }
}

@media (min-width: 2560px) {
  .App {
    width: 2560px;
  }

  section,
  header,
  footer {
    width: 100%;
    padding-left: calc((2560px - 1170px) / 2);
    padding-right: calc((2560px - 1170px) / 2);
  }
}
